---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/deploymy-codes/api/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"http://api.deploymy.codes/webhook/github","content_type":"json"},"events":["push"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1426524276'
      Etag:
      - '"0f988022a3d8c31f9f738101de64b5e6"'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:repo_hook, public_repo, repo, write:repo_hook
      Location:
      - https://api.github.com/repos/deploymy-codes/api/hooks/4349930
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/deploymy-codes/api/hooks/4349930","test_url":"https://api.github.com/repos/deploymy-codes/api/hooks/4349930/test","ping_url":"https://api.github.com/repos/deploymy-codes/api/hooks/4349930/pings","id":4349930,"name":"web","active":true,"events":["push"],"config":{"url":"http://api.deploymy.codes/webhook/github","content_type":"json"},"last_response":{"code":null,"status":"unused","message":null},"updated_at":"2015-03-16T16:02:14Z","created_at":"2015-03-16T16:02:14Z"}'
  recorded_at: Thu, 16 Oct 2014 11:00:00 GMT
recorded_with: VCR 2.9.3
