---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/deploymycodes/api/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"http://api.deploymy.codes/webhook/github","content_type":"json"},"events":["push"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1426524276'
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 16 Oct 2014 11:00:00 GMT
recorded_with: VCR 2.9.3
