---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/deploymy-codes/deploymycodes-gem/releases
    body:
      encoding: UTF-8
      string: '{"target_commitish":"GIT_GEM_COMMIT_ID","name":"master-20141016120000","body":"Release
        generated by http://deploymy.codes based on the commit GIT_GEM_COMMIT_ID.","draft":false,"prerelease":false,"tag_name":"master-20141016120000"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1425743765'
      Etag:
      - '"571d661aafb4d3e5afd266cb1f71159c"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/deploymy-codes/deploymycodes-gem/releases/1026028
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/deploymy-codes/deploymycodes-gem/releases/1026028","assets_url":"https://api.github.com/repos/deploymy-codes/deploymycodes-gem/releases/1026028/assets","upload_url":"https://uploads.github.com/repos/deploymy-codes/deploymycodes-gem/releases/1026028/assets{?name}","html_url":"https://github.com/deploymy-codes/deploymycodes-gem/releases/tag/master-20141016120000","id":1026028,"tag_name":"master-20141016120000","target_commitish":"GIT_GEM_COMMIT_ID","name":"master-20141016120000","draft":false,"author":{"login":"alaibe","id":491074,"avatar_url":"https://avatars.githubusercontent.com/u/491074?v=3","gravatar_id":"","url":"https://api.github.com/users/alaibe","html_url":"https://github.com/alaibe","followers_url":"https://api.github.com/users/alaibe/followers","following_url":"https://api.github.com/users/alaibe/following{/other_user}","gists_url":"https://api.github.com/users/alaibe/gists{/gist_id}","starred_url":"https://api.github.com/users/alaibe/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alaibe/subscriptions","organizations_url":"https://api.github.com/users/alaibe/orgs","repos_url":"https://api.github.com/users/alaibe/repos","events_url":"https://api.github.com/users/alaibe/events{/privacy}","received_events_url":"https://api.github.com/users/alaibe/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2015-03-07T15:09:16Z","published_at":"2015-03-07T15:34:47Z","assets":[],"tarball_url":"https://api.github.com/repos/deploymy-codes/deploymycodes-gem/tarball/master-20141016120000","zipball_url":"https://api.github.com/repos/deploymy-codes/deploymycodes-gem/zipball/master-20141016120000","body":"Release
        generated by http://deploymy.codes based on the commit GIT_GEM_COMMIT_ID."}'
  recorded_at: Thu, 16 Oct 2014 11:00:00 GMT
recorded_with: VCR 2.9.3
