---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/deploymy-codes/api/releases
    body:
      encoding: UTF-8
      string: '{"target_commitish":"c186435cc716566b16718bea008813d3769a2e75","name":"master-20141016120000","body":"Release
        generated by http://deploymy.codes based on the commit c186435cc716566b16718bea008813d3769a2e75.","draft":false,"prerelease":false,"tag_name":"master-20141016120000"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1424984530'
      Etag:
      - '"b9bae0136375d61184d84331312b1570"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - GITHUB_CLIENT_ID
      Location:
      - https://api.github.com/repos/deploymy-codes/api/releases/992720
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/deploymy-codes/api/releases/992720","assets_url":"https://api.github.com/repos/deploymy-codes/api/releases/992720/assets","upload_url":"https://uploads.github.com/repos/deploymy-codes/api/releases/992720/assets{?name}","html_url":"https://github.com/deploymy-codes/api/releases/tag/master-20141016120000","id":992720,"tag_name":"master-20141016120000","target_commitish":"c186435cc716566b16718bea008813d3769a2e75","name":"master-20141016120000","draft":false,"author":{"login":"deploymycodes","id":10991964,"avatar_url":"https://avatars.githubusercontent.com/u/10991964?v=3","gravatar_id":"","url":"https://api.github.com/users/deploymycodes","html_url":"https://github.com/deploymycodes","followers_url":"https://api.github.com/users/deploymycodes/followers","following_url":"https://api.github.com/users/deploymycodes/following{/other_user}","gists_url":"https://api.github.com/users/deploymycodes/gists{/gist_id}","starred_url":"https://api.github.com/users/deploymycodes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/deploymycodes/subscriptions","organizations_url":"https://api.github.com/users/deploymycodes/orgs","repos_url":"https://api.github.com/users/deploymycodes/repos","events_url":"https://api.github.com/users/deploymycodes/events{/privacy}","received_events_url":"https://api.github.com/users/deploymycodes/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2015-02-25T13:29:49Z","published_at":"2015-02-26T20:20:45Z","assets":[],"tarball_url":"https://api.github.com/repos/deploymy-codes/api/tarball/master-20141016120000","zipball_url":"https://api.github.com/repos/deploymy-codes/api/zipball/master-20141016120000","body":"Release
        generated by http://deploymy.codes based on the commit c186435cc716566b16718bea008813d3769a2e75."}'
  recorded_at: Thu, 16 Oct 2014 11:00:00 GMT
recorded_with: VCR 2.9.3
