---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token GITHUB_OAUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1424527299'
      Etag:
      - W/"bc18bbe1bf30b2d048d9bb03feec0b52"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - GITHUB_CLIENT_ID
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":31125946,"name":"awesome-test-project","full_name":"deploymycodes/awesome-test-project","owner":{"login":"deploymycodes","id":10991964,"avatar_url":"https://avatars.githubusercontent.com/u/10991964?v=3","gravatar_id":"","url":"https://api.github.com/users/deploymycodes","html_url":"https://github.com/deploymycodes","followers_url":"https://api.github.com/users/deploymycodes/followers","following_url":"https://api.github.com/users/deploymycodes/following{/other_user}","gists_url":"https://api.github.com/users/deploymycodes/gists{/gist_id}","starred_url":"https://api.github.com/users/deploymycodes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/deploymycodes/subscriptions","organizations_url":"https://api.github.com/users/deploymycodes/orgs","repos_url":"https://api.github.com/users/deploymycodes/repos","events_url":"https://api.github.com/users/deploymycodes/events{/privacy}","received_events_url":"https://api.github.com/users/deploymycodes/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/deploymycodes/awesome-test-project","description":"","fork":false,"url":"https://api.github.com/repos/deploymycodes/awesome-test-project","forks_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/forks","keys_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/keys{/key_id}","collaborators_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/teams","hooks_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/hooks","issue_events_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/issues/events{/number}","events_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/events","assignees_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/assignees{/user}","branches_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/branches{/branch}","tags_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/tags","blobs_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/git/refs{/sha}","trees_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/git/trees{/sha}","statuses_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/statuses/{sha}","languages_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/languages","stargazers_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/stargazers","contributors_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/contributors","subscribers_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/subscribers","subscription_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/subscription","commits_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/commits{/sha}","git_commits_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/git/commits{/sha}","comments_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/comments{/number}","issue_comment_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/issues/comments/{number}","contents_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/contents/{+path}","compare_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/compare/{base}...{head}","merges_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/merges","archive_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/downloads","issues_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/issues{/number}","pulls_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/pulls{/number}","milestones_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/milestones{/number}","notifications_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/labels{/name}","releases_url":"https://api.github.com/repos/deploymycodes/awesome-test-project/releases{/id}","created_at":"2015-02-21T13:11:07Z","updated_at":"2015-02-21T13:11:07Z","pushed_at":"2015-02-21T13:11:07Z","git_url":"git://github.com/deploymycodes/awesome-test-project.git","ssh_url":"git@github.com:deploymycodes/awesome-test-project.git","clone_url":"https://github.com/deploymycodes/awesome-test-project.git","svn_url":"https://github.com/deploymycodes/awesome-test-project","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":31125961,"name":"lets-chat","full_name":"deploymycodes/lets-chat","owner":{"login":"deploymycodes","id":10991964,"avatar_url":"https://avatars.githubusercontent.com/u/10991964?v=3","gravatar_id":"","url":"https://api.github.com/users/deploymycodes","html_url":"https://github.com/deploymycodes","followers_url":"https://api.github.com/users/deploymycodes/followers","following_url":"https://api.github.com/users/deploymycodes/following{/other_user}","gists_url":"https://api.github.com/u[...]
