---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 467b5f4a493560c986f5a9da344734ce6fb8a218
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1423831198'
      Etag:
      - W/"a9ca0a3ee2104c34cd238a67c54efe1e"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - da3c2c42130e5391041f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"login":"deploymy-codes","id":9341835,"url":"https://api.github.com/orgs/deploymy-codes","repos_url":"https://api.github.com/orgs/deploymy-codes/repos","events_url":"https://api.github.com/orgs/deploymy-codes/events","members_url":"https://api.github.com/orgs/deploymy-codes/members{/member}","public_members_url":"https://api.github.com/orgs/deploymy-codes/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/9341835?v=3","description":"Deployment
        has never been so easy"}]'
  recorded_at: Fri, 13 Feb 2015 11:39:59 GMT
recorded_with: VCR 2.9.3
